.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: 2.9rem;
        font-family: "Cairo", sans-serif;
        //Change for the <button> element
        border: none;
        cursor: pointer;

        // @include responsive(tab-port) {
        //     display: block;
        //     width: 35rem;
        //     margin: 5rem auto;
        // }
    }


    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($tertiary, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($tertiary, .2);
    }


    &--tertiary {
        background-color: $tertiary;
        color: $color-white;
       
        &::after {
            background-color: $tertiary;
        }
    }
    &--buy {
        background-color: $third-variant;
        color: $color-white;
       
        &::after {
            background-color: $third-variant;
        }
    }


    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &__leaning-center{
        background-color: $tertiary;
        font-size: 2rem !important;
        margin: 2rem 0;
    }

    &__programm{
        background-color: $tertiary-variant;
        color: $color-white;
        // padding: 2.5rem 4rem !important;
        height: max-content;
        margin: 0 auto;
       
       
        &::after {
            background-color: $tertiary-variant;
        }
    }
}


.btn-text {
    &,
    &:link,
    &:visited {
        font-size: 2rem;
        color: $primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 2.6px solid $primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }

    &__learnig-center{
        width: max-content;
    }

    &__lrn-webinar{
        color: $color-white !important;
        margin: 4rem 0;
        border-bottom: 2.6px solid $color-white !important;
        &:hover{
            background-color: $color-white ;
            color: $primary !important;
        }

    }
}

.btn-subscribe {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 0 0 0;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        left: -2.5rem;
        font-size: 1.6rem;
        @include responsive(tab-port){
            top: -1px;
        }


        //Change for the <button> element
        border: none;
        cursor: pointer;
        background-color: $secondary-variant;
        color: white;
        height: 5rem;
        width: 13rem;
        text-align: center;
    }
}