.sectionHeader{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
    &__img{
        width: 10rem;
    }
    &__title{
        @include main-title;
    }
}
.benefits{
    position: relative;
    margin-bottom: 5rem;
    &__designelem{
        position: absolute;
        right: 0;
        top: 0;
        width: 14rem;
    }
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: rgba(185, 185, 185, .1);
        padding: 10rem;
        @include responsive(phone-1) {
            flex-flow: column wrap;
        }
    }
    &__item{
        text-align: center;
        margin-bottom: 4rem;
        width: 25%;
        @include responsive(tab-land-1){
            width: 100%;
        }
    }
    &__img{
        width:  15rem;
        @include responsive(phone){
            width: 29rem;
        }
    }
    &__description{
        font-size: 1.5rem;
        color: $primary-variant;
        font-weight: 700;
        margin: 1rem auto;
        width: 50%;
        @include responsive(tab-land-1){
            width: 100%;
        }
        @include responsive(phone){
            font-size: 2.5rem;
        }
    }

}